abrt
autostart
base16-shell
chromium
coc
Code
configstore
deepin
dconf
enchant
evolution
fontforge
fontconfig
gconf
gedit
gnome-*
goa-1.0
gtk-3.0
htop
ibus
kdeglobals
kglobalshortcutsrc
kwinrc
libreoffice
nautilus
nvim/plugged
ObinsKit
procps
pulse
termite
thefuck
wal
yelp
zsh/.zcompdump*
dleyna-renderer-service.conf
gnome-initial-setup-done
mimeapps.list
monitors.xml*
user-dirs.dirs
user-dirs.locale
